ai-news-video-pipeline/WF2-Sync-Approved-Supabase.json
{
  "name": "WF2 — Sync Approved to Supabase",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "b1bdab02-83f1-424d-8204-3a23a121fe16",
      "name": "Every 30 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "mode": "list",
          "value": "YOUR_NOTION_DATABASE_ID",
          "cachedResultName": "Your Notion Scripts Database",
          "cachedResultUrl": "https://notion.so/YOUR_DATABASE_URL"
        },
        "returnAll": true,
        "options": {}
      },
      "id": "5e8510ac-63b4-40ca-9cfa-9f62254a8937",
      "name": "Get Scripts from Notion",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        224,
        0
      ],
      "credentials": {
        "notionApi": {
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.property_status }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "rightValue": "Approved"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e7231cac-8ca9-49c5-bd35-0c2def9db229",
      "name": "Filter Approved",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "news_items",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "notion_page_id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "approved"
            },
            {
              "fieldId": "script",
              "fieldValue": "={{ $json.property_script }}"
            }
          ]
        }
      },
      "id": "8b8176cb-3ad4-4e7a-b363-e4b03c7f87b9",
      "name": "Sync Approved to Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        672,
        0
      ],
      "credentials": {
        "supabaseApi": {
          "name": "Supabase_UNBAU"
        }
      }
    }
  ],
  "connections": {
    "Every 30 min": {
      "main": [
        [
          {
            "node": "Get Scripts from Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Scripts from Notion": {
      "main": [
        [
          {
            "node": "Filter Approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Approved": {
      "main": [
        [
          {
            "node": "Sync Approved to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "versionId": "efd302b9-edc1-47b6-8933-552b93e7fe98",
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp"
  },
  "id": "1KyybArJY3ZLPyXD",
  "tags": []
}